.feedback-slider {
  width: 100%;
  min-height: 365px;
  background: linear-gradient(180deg, $color-white 11%, $color-brown 11%, $color-brown 55%, $color-white 55%);

  @include width--m {
    background: linear-gradient(180deg, $color-white 16%, $color-brown 16%, $color-brown 73%, $color-white 73%);
  }
}

.feedback-slider.wrapper {
  padding: 0 17px;

  @include width--l {
    padding: 0;
  }
}

.feedback-slider .slider {
  @include width--l {
    width: 1440px;
    margin: 0 auto;
  }
}

.feedback-slider__title {
  margin-bottom: 40px;
  text-align: center;

  @include set-font (18px, 1.3, 700);

  @include width--m {
    margin-bottom: 65px;

    @include set-font (32px, 1.3, 900);
  }

  @include width--l {
    margin-bottom: 100px;

    @include set-font (42px, 1.3, 700);
  }
}

.feedback-slider .slider__item-container {
  padding: 20px 11px 32px 20px;
  margin: 6px;
  border-radius: 20px;
  background-color: $color-white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  @include width--l {
    margin-left: 15px;
    margin-right: 15px;
  }
}

.feedback-slider .slider__item {
  @include width--l {
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }
}

.feedback-slider .slider__item-content {
  position: relative;
  min-height: 210px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  @include set-font (15px, 1.3, 700);

  @include width--m {
    min-height: 226px;
  }

  @include width--l {
    min-height: 228px;
    text-shadow: none;
  }
}

.feedback-slider__icon {
  position: absolute;
  right: 0;

  @include width--m {
    width: 40px;
    height: 40px;
  }
}

.feedback-slider .slider__item-content h3 {
  margin-bottom: 10px;

  @include width--m {
    margin-bottom: 21px;
    font-size: 18px;
  }
}

.feedback-slider .slider__item-content p {
  font-weight: 400;
  text-align: left;

  @include width--m {
    font-size: 17px;
  }

  @include width--l {
    font-size: 18px;
  }
}

.signword {
  @include width--l {
    font-weight: 700;
  }
}

