.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 30px 45px 30px 46px;

  @include set-font (14px, 1.3, 900);

  color: $color-white;
  background-color: $color-brown-dark;

  @include width--m {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 82px 54px 21px;

    @include set-font (17px, 1.3, 500);
  }

  @include width--l {
    justify-content: center;
    font-size: 18px;
  }
}

.footer__logo {
  position: absolute;
  top: 30px;
  left: 20px;

  @include width--m {
    position: static;
  }

  @include width--l {
    margin-right: 160px;
  }
}

.footer__logo-image {
  width: 71px;
  height: 46px;

  @include width--m {
    width: 82px;
    height: 54px;
  }
}

.footer__nav-list,
.footer__contacts,
.footer__socials {
  @include reset-list;
}

.footer__nav {
  align-self: flex-end;
  margin-bottom: 30px;

  @include width--m {
    align-self: flex-start;
    margin-bottom: 0;
  }

  @include width--l {
    margin-right: 130px;
  }
}

.footer__nav-item:not(:last-of-type) {
  margin-bottom: 15px;

  @include width--m {
    margin-bottom: 20px;
  }
}

.footer__contacts {
  margin-bottom: 20px;

  @include width--m {
    display: flex;
    flex-direction: column;
    width: 290px;
    margin-bottom: 68px;
  }

  @include width--l {
    flex-wrap: wrap;
    width: 620px;
    height: 120px;
  }
}

.footer__contacts address {
  font-style: normal;
}

.footer__contacts-item {
  display: flex;
  align-items: center;
}

.footer__contacts-item-address,
.footer__contacts-item-mail {
  margin-bottom: 20px;
}

.footer__contacts-item-address {
  flex-grow: 1;

  @include width--l {
    flex-grow: 0;
    align-items: flex-start;
    height: 120px;
    margin-bottom: 0;
  }
}

.footer__contacts-item-mail {
  @include width--m {
    margin-bottom: 0;
    order: 1;
  }
}

.footer__contacts-item-tel,
.footer__contacts-item-mail {
  @include width--l {
    font-weight: 700;
  }
}

.footer__contacts-item-tel {
  margin-bottom: 10px;

  @include width--m {
    margin-bottom: 28px;
  }

  @include width--l {
    margin-bottom: 15px;
  }
}

.footer__contacts-item-times {
  @include width--m {
    margin-bottom: 20px;
  }

  @include width--l {
    align-self: start;
    margin-bottom: 15px;
  }
}

.footer__contacts-icon-telegram {
  margin-right: 10px;
}

.footer__contacts-icon-viber,
.footer__contacts-icon-mail {
  margin-right: 25px;
}

.footer__contacts-times {
  margin: 0 auto;
}

.footer__socials {
  align-self: center;
  display: flex;
  justify-content: space-between;
  min-width: 130px;
  margin-bottom: 30px;

  @include width--m {
    position: absolute;
    right: 242px;
    bottom: 120px;
    margin-bottom: 0;
  }

  @include width--l {
    position: static;
    align-self: start;
  }
}

.footer__copyrights {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  min-width: 100%;
  font-weight: 500;

  @include width--m {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.footer__copyrights p:first-child {
  @include width--m {
    flex-basis: 100%;
    margin-bottom: 10px;
  }
}

.footer__copyrights p:nth-child(2) {
  margin-bottom: 20px;

  @include width--m {
    margin-bottom: 0;
  }
}
