.gallery-slider {
  width: 100%;
  min-height: 415px;
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: $color-background-1;

  @include width--m {
    min-height: 573px;
  }

  @include width--l {
    min-height: 705px;
  }
}

.slider {
  position: relative;
  margin-bottom: 60px;

  @include width--m {
    margin-bottom: 90px;
  }

  @include width--l {
    margin-bottom: 130px;
  }
}

.gallery-slider.wrapper {
  @include width--m {
    padding: 0;
    padding-top: 44px;
    padding-bottom: 60px;
  }

  @include width--l {
    padding-top: 74px;
    padding-bottom: 99px;
  }
}

.gallery-slider__title {
  margin-bottom: 20px;
  text-align: center;

  @include set-font (18px, 1.3, 700);

  @include width--m {
    margin-bottom: 30px;

    @include set-font (32px, 1.3, 900);
  }

  @include width--l {
    margin-bottom: 40px;

    @include set-font (42px, 1.3, 700);
  }
}

.slider__container {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 20px;
  overflow: hidden;

  @include width--l {
    margin-bottom: 40px;
  }
}

.slider__item-container {
  text-align: center;

  @include width--m {
    margin: 0 10px;
  }

  @include width--l {
    margin: 0 15px;
  }
}

.slider__items {
  display: flex;
  transition: transform 0.5s ease;
}

.slider_disable-transition {
  transition: none;
}

.slider__item {
  flex: 0 0 100%;
  max-width: 100%;
  user-select: none;

  @include width--m {
    flex: 0 0 50%;
    max-width: 50%;
  }

  @include width--l {
    flex: 0 0 20%;
    max-width: 20%;
  }
}

.slider__image {
  width: 100%;
  height: auto;
}

/* кнопки влево и вправо */

.slider__control {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;

  &::before,
  &::after {
    position: absolute;
    content: "";
    width: 13px;
    height: 2px;
    background-color: $color-brown-dark;
    border-radius: 10px;
  }

  &::before {
    top: 25%;
    left: 15%;
    transform: rotate(-45deg);
  }

  &::after {
    bottom: 25%;
    left: 15%;
    transform: rotate(45deg);
  }

  &[data-slide='prev'] {
    left: 45px;
  }

  &[data-slide='next'] {
    right: 45px;
    transform: rotate(180deg);
  }

  @include width--m {
    width: 40px;
    height: 40px;

    &::before,
    &::after {
      width: 27px;
      height: 3px;
    }

    &[data-slide='prev'] {
      left: 100px;
    }

    &[data-slide='next'] {
      right: 100px;
    }
  }

  @include width--l {
    &[data-slide='prev'] {
      left: 280px;
    }

    &[data-slide='next'] {
      right: 280px;
    }
  }
}

.slider__control_hide {
  display: none;
}

.slider__control:hover,
.slider__control:focus {
  opacity: 0.5;
}

/* индикаторы */

.slider__indicators {
  position: absolute;
  bottom: -35px;
  left: 25%;
  width: 50%;
  display: flex;
  justify-content: space-around;

  @include reset-list;

  @include width--m {
    bottom: -45px;
  }

  @include width--l {
    bottom: -70px;
  }
}

.slider__indicators li {
  width: 10px;
  height: 10px;
  background-color: $color-white;
  border: 2px solid $color-brown-dark;
  border-radius: 50%;

  @include width--m {
    width: 15px;
    height: 15px;
  }

  @include width--l {
    background-color: $color-brown-dark;
    width: 20px;
    height: 20px;
  }
}

.slider__indicators li.active {
  background-color: $color-brown-dark;

  @include width--l {
    background-color: $color-white;
  }
}

.gallery-slider__button {
  display: flex;
  width: 95%;
  min-height: 40px;
  margin: 0 auto;

  @include width--m {
    width: 36.8%;
    min-height: 57px;
  }
}
