.header {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 80px;
  margin: 0 0 4px 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.header__wrapper {
  display: flex;
  align-items: center;
  width: 1440px;
  margin: 0 auto;
  padding: 6px 24px 7px 19px;

  @include width--m-only {
    justify-content: space-between;
    width: 100%;
    padding: 6px 20px;
    margin: 0;
  }

  @include width--s-only {
    justify-content: space-between;
    width: 100%;
    padding: 20px 20px;
  }
}

.header__logo {
  margin: 0 64px 0 0;

  &:active {
    opacity: 0.6;
  }

  @include width--m-only {
    margin-right: 34px;
  }

  @include width--s-only {
    margin: 0;
  }
}

.header__logo-image {
  width: 90px;
  height: 68px;

  @include width--s-only {
    width: 52px;
    height: 39px;
  }
}

.header__nav {
  @media (max-width: $desktop-width - 1px) {
    position: absolute;
    right: 0;
    top: 80px;

    &--closed {
      animation: scale-out-hor-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }

    &--opened {
      animation: scale-in-hor-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }
  }

  @include width--l {
    margin: 0 74px 0 0;
  }
}

.header__nav-list {
  @include reset-list;

  display: flex;
  flex-wrap: wrap;

  @include set-font(18px, 1.3, 500);

  color: $color-brown-dark;

  & > *:not(:last-child) {
    margin: 0 30px 0 0;
  }

  @media (max-width: $desktop-width - 1px) {
    display: flex;
    flex-direction: column;
    width: 185px;
    min-height: 433px;
    padding: 70px 32px;

    & > *:not(:last-child) {
      margin: 0 0 40px 0;
    }

    @include set-font (18px, 1.22, 700);

    background-color: $color-brown-dark;
    color: $color-white;
  }
}

.header__nav-item {
  @include width--l {
    position: relative;

    &:hover {
      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -26px;
        width: 100%;
        height: 4px;
        background-color: $color-brown;
      }
    }

    &:active {
      opacity: 0.6;

      &::after {
        height: 0;
      }
    }
  }
}

.header__contacts {
  display: flex;
  align-items: center;

  & > *:not(:last-child) {
    margin: 0 74px 0 0;
  }

  @include set-font(18px, 2.2, 500);

  color: $color-brown;

  @include width--m-only {
    & > *:not(:last-child) {
      margin: 0 34px 0 0;
    }

    @include set-font(18px, 1.3, 700);
  }

  @include width--s-only {
    flex-direction: column;
    align-items: start;

    & > *:not(:last-child) {
      margin: 0;
    }

    @include set-font(14px, 1.3, 900);
  }
}

.header__contacts-link {
  margin-left: 15px;

  @include width--s-only {
    margin: 0;
  }

  @include width--m {
    position: relative;

    &:hover {
      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -29px;
        width: 100%;
        height: 4px;
        background-color: $color-brown;
      }
    }

    &:active {
      opacity: 0.6;

      &::after {
        height: 0;
      }
    }
  }

  @include width--l {
    &:hover {
      &::after {
        bottom: -28px;
      }
    }
  }
}

.header__contacts-tel .header__contacts-link {
  font-weight: 900;
}

.header__contacts-tel .header__icon-container:first-of-type {
  margin-right: 10px;
}

// Nav-tooggle

.header__nav-tooggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include width--l {
    display: none;
  }
}

.header__nav-tooggle input {
  display: flex;
  width: 35px;
  height: 35px;
  position: absolute;
  cursor: pointer;
  opacity: 0; /* hide input */
  z-index: 1; /* top of the menu */
}

.header__nav-tooggle span {
  width: 35px;
  height: 4px;
  margin-bottom: 8px;
  background-color: $color-brown-dark;
  border-radius: 4px;
  -webkit-transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  -moz-transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  -ms-transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  -o-transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
}

.span1 {
  transform-origin: 4px 0;
}

.span3 {
  transform-origin: bottom right;
}

.header__nav-tooggle input:checked ~ .span1 {
  transform: rotate(45deg) translate(8px);
}

.header__nav-tooggle input:checked ~ .span2 {
  transform: rotate(495deg) translate(4px);
}

.header__nav-tooggle input:checked ~ .span3 {
  transform: rotate(45deg);
  opacity: 0;
}
