.icon-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;

  @include width--s-only {
    display: none;
  }
}

.header__icon-container {
  vertical-align: middle;
  background-color: $color-brown;

  &:hover {
    background-color: $color-brown-dark;
  }

  &:active {
    opacity: 0.6;
  }
}

.header__icon {
  fill: $color-white;
}
