.icon-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;

  &:hover {
    cursor: pointer;
  }
}

.header__icon {
  fill: $color-white;
}

.header__icon-container {
  @include width--s-only {
    display: none;
  }

  vertical-align: middle;
  background-color: $color-brown;

  &:hover {
    @include trans-bg-color($color-yellow, 0.6s);

    & .header__icon {
      @include trans-fill($color-white, 0.3s);
    }
  }

  &:active {
    & .header__icon {
      fill: $color-brown-dark;
    }
  }
}

.list-item__icon,
.feedback-slider__icon {
  fill: $color-brown-dark;
}

.footer__icon {
  fill: $color-brown-dark;
}

.footer__icon-container {
  background-color: $color-white;

  &:hover {
    @include trans-bg-color($color-yellow, 0.6s);

    & .footer__icon {
      @include trans-fill($color-white, 0.3s);
    }
  }

  &:active {
    & .footer__icon {
      fill: $color-brown-dark;
    }
  }
}

.icon-container--l {
  @include width--l {
    width: 40px;
    height: 40px;
  }
}
