.nav--opened {
  @media (max-width: $desktop-width - 1) {
    display: block;
    min-width: 185px;
    min-height: 433px;
    padding: 70px 32px;

    @include set-font (18px, 1.22, 700);

    background-color: $color-brown-dark;
    color: $color-white;
  }
}

.nav--closed {
  @media (max-width: $desktop-width - 1) {
    display: none;
  }
}

.nav--nojs {
  display: block;
  width: 100%;
  min-height: 433px;
  padding: 40px 25%;

  @include set-font (18px, 1.22, 700);

  background-color: $color-brown-dark;
  color: $color-white;
}

.nav__list {
  @include reset-list;

  & > *:not(:last-child) {
    margin: 0 0 40px 0;

    @include width--l {
      margin: 0;
    }
  }

  @include width--l {
    display: flex;
    justify-content: space-between;
    min-width: 596px;

    @include set-font (18px,  1.3, 500);

    color: $color-brown-dark;
  }
}

.nav__list-item {
  border-bottom: 1px solid $color-gray;

  @include width--l {
    position: relative;
    border: none;
    flex-basis: auto;

    &:hover::after {
      content: "";
      position: absolute;
      top: 43px;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: $color-brown;
    }

    &:active {
      opacity: 0.6;
    }

    &:active::after {
      opacity: 0;
    }

    &--current {
      content: "";
      position: absolute;
      top: 43px;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: $color-brown;
    }
  }
}
