.contacts__mail {
  & svg {
    & circle {
      fill: $color-brown;
    }

    & path {
      fill: $color-white;
    }
  }

  &:hover {
    & circle {
      fill: $color-yellow;
    }
  }

  &:active {
    & path {
      fill: $color-brown;
    }
  }
}
