@keyframes bg-pan-bl {
  0% {
    background-position: left top;
  }

  25% {
    background-position: right bottom;
  }

  50% {
    background-position: left bottom;
  }

  75% {
    background-position: left top;
  }

  100% {
    background-position: center center;
    background-size: 100% auto;
  }
}

@keyframes tilt-in-right-1 {
  0% {
    transform: rotateX(-30deg) translateX(300px) skewX(30deg);
    opacity: 0;
  }

  100% {
    transform: rotateX(0deg) translateX(0) skewX(0deg);
    opacity: 1;
  }
}

@keyframes tilt-out-right-1 {
  0% {
    transform: rotateX(0deg) translateX(0) skewX(0deg);
    opacity: 1;
  }

  100% {
    transform: rotateX(30deg) skewX(-30deg) translateX(300px);
    opacity: 0;
  }
}
