$color-black: #20231e;
$color-white: #fff;
$color-brown: #9d6f3e;
$color-brown-dark: #73492a;
$color-gray: #c4c4c4;
$color-brown-bright: #773402;
$color-yellow: #fdb808;
$color-background-1: #f5ecd9;

$mobile-width: 321px;
$tablet-width: 768px;
$desktop-width: 1440px;
