.page {
  height: 100%;
}

.page__body {
  margin: 0;
  padding: 0;
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;

  @include set-font (15px, 1.3, 400);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  padding: 0;
}

.wrapper {
  min-width: 320px;
  padding: 0 20px;
  margin: 40px auto;

  @include width--m {
    padding: 0 30px;
    margin: 60px auto;
  }

  @include width--l {
    padding: 0 40px;
    margin: 100px auto;
  }
}

.about__video {
  width: 100%;
  min-height: 208px;

  @include width--m {
    min-height: 472px;
  }
}
